@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    background-color: #333333;
    color: white;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    text-indent: 10%;
    padding: 0px;
    margin: 0px 0;
}

.mainheader {
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
}

.subheader p {
    font-size: 11.5px;
    text-indent: 10.10%;
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.col {
    flex: 1;
}

img.responsive {
    width: 100%;
    height: auto;
}

.card {
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}