@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sunflower:300&display=swap');

body {
    font-family: 'Sunflower', sans-serif;
    background-color: papayawhip;
}

.header h1 {
    text-align: center;
    font-family: 'Kalam', cursive;
    background-color: peru;
    color: palegoldenrod;
    font-size: 48px;
    padding: 30px;
}

/*navigation bar */
.bar {
    list-style-type: none;
    background-color: olivedrab;
    overflow: hidden;
    font-family: 'Kalam', cursive;
    font-size: 18px;
    padding: 5px;
}

.page {
    float: left;
}

.page a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}


.page a:hover {
    background-color: palegoldenrod;
}


/*h2 of first row images*/
.dish {
    text-align: left;
    font-family: 'Kalam', cursive;
    font-size: 24px;
    margin: 10px;
}

/*h3 of second row image */
.dish1 {
    font-family: 'Kalam', cursive;
    font-size: 28px;
    text-align: center;
}

.source {
    font-size: 12px;
    text-align: center;
}

.date {
    font-size: 12px;
    text-align: center;
}


/*aside info about mom */
.bio {
    text-align: center;
    display: inline-block;
    font-size: 14px;
}

.img2 {
    height: auto;
    width: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name {
    text-align: center;
    font-family: 'Kalam', cursive;
    font-size: 20px;
    padding: 1rem;
}

/*image of instructional recipe */
.img1 {
    width: 650px;
    height: auto;
}

/*gallery of dishes */
.food {
    height: auto;
    width: 350px;
}

/* recipe instructions with border box */
.row2 {
    border: solid;
    padding: 10px;
    margin: 10px;
}

.subhead {
    border-bottom: solid;
    font-family: 'Kalam', cursive;
    font-size: 20px;
    text-align: left;
    padding: 10px;
}

/*footer styling */
.author {
    font-style: italic;
}

.info {
    line-height: 200%;
    text-align: left;
}

/*styling for our-story page */
.img-family {
    height: auto;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    float: right;
    padding: 20px;
}

.h2-story {
    font-family: 'Kalam', cursive;
    font-size: 20px;
}

.story {
    line-height: 200%;
    text-align: justify;
}


/*styling for recipe page */
.row1-3 {
    border: solid;
}