@import url('https://fonts.googleapis.com/css?family=Kalam|Sunflower:300&display=swap');
body {
    font-family: 'Sunflower', sans-serif;
    background-color: papayawhip;
}
.header h1 {
    text-align: center;
    font-family: 'Kalam', cursive;
    background-color: peru;
    color: palegoldenrod;
    font-size: 48px;
    padding: 30px;
    margin: 10px;
}

h2 {
    font-size: 20px;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

.source {
    text-align: right;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

.date {
    font-size: 12px;
}

.recipe {
    vertical-align: middle;
}

.bar {
    display: flex;
}

ul {
    flex: 1;
}

.row {
    display: flex;
    padding: 10px;
    margin: 10px;
}

.col {
    flex: 1;
}